body {
    overflow-x: scroll;
    
}

.columna {
    float: left;
    width: 400px;
}

#div1 {
    -ms-grid-column: 1;
}
#div2 {
    -ms-grid-column: 2;
}
#div3 {
    -ms-grid-column: 3;
}
#div4 {
    -ms-grid-column: 4;
}

#container {
     display: -ms-grid;
     -ms-grid-columns: 4;
     width: 100%
}

/*body {
}
    

.columna {
    float: left;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
  
#banner {
    width: 100%;
    height: 100%;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
}

#backbutton {
	margin-top: 54px;
	margin-left: 40px;
}

#maintitle {
	-ms-grid-column: 2;
	-ms-grid-row-align: center;
}

#content {
  
    height: 100%;
    -ms-grid-row: 2;
}
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}*/
