body {
    overflow-x: scroll;    
}

#btnPos {
    alignment-adjust:central;
}
#lon {
    float: none;
    
}
#lat {
    float: none;
}

#mapdiv {
    alignment-adjust: central;
    margin-left: 30px;   
    margin-right: auto; 
}

#lonInfo {
    float: left;
    display: block;
}
#latInfo {
    float: right;
    display: block;
}

#div1 {
    -ms-grid-column: 1;	
	width: 460px
}
#div2 {
	margin-left: 15px;
    -ms-grid-column: 2;
	width: 460px;

}
#div3 {
	margin-left: 15px;
    -ms-grid-column: 3;
	width: 460px;
}
#div4 {
	margin-left: 15px;
    -ms-grid-column: 4;
	width: 460px;	
}

#container {
     display: -ms-grid; 
	 margin-left: 120px;
	 padding-top: 220px;
}

#basicListView.win-listview 
{
    height: 100%; 
    width: 100%; 
    border: 2px solid gray;
}
#mediumListIconTextTemplate {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
}
.celda {
    background: black;
    width: 100%;
    height: 120px;
}
#GridAlternatives {
    width: 100%;
    height: 100%;
}
    
.columna {	
    height: 100%;    
	background: grey;
}
    
/*body {
}
    



@media screen and (-ms-view-state: fullscreen-landscape) {
  
#banner {
    width: 100%;
    height: 100%;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
}

#backbutton {
	margin-top: 54px;
	margin-left: 40px;
}

#maintitle {
	-ms-grid-column: 2;
	-ms-grid-row-align: center;
}

#content {
  
    height: 100%;
    -ms-grid-row: 2;
}
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}*/
